#status-card {
  border: 2px solid var(--bs-border-color);
}

#status-card.border-warning {
  border-color: var(--bs-warning) !important;
}

#status-card.border-danger {
  border-color: var(--bs-danger) !important;
}

#icon-container .material-icons-round {
  font-size: 3rem;
}

#help-statement {
  font-size: 0.875rem;
  opacity: 0.8;
}