name: Build and Publish Dropgate Server to Docker Hub
on:
  [workflow_dispatch]
jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Get version from package.json
      id: version
      run: echo "VERSION=$(jq -r .version server/package.json)" >> $GITHUB_OUTPUT
    
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Build Image
      run: |
        docker build \
          -t willtda/dropgate-server:latest \
          -t willtda/dropgate-server:${{ steps.version.outputs.VERSION }} \
          ./server/
    
    - name: Push Image to Docker Hub
      run: |
        docker push willtda/dropgate-server:latest
        docker push willtda/dropgate-server:${{ steps.version.outputs.VERSION }}